<!--
vim: tabstop=2 autoindent expandtab
-->
<div
  class="cmd cmd-widget #history#"
  data-type="info"
  data-subtype="numeric"
  data-template="etat"
  data-cmd_id="#id#"
  data-cmd_uid="#uid#"
  data-version="#version#"
  data-eqLogic_id="#eqLogic_id#"
>
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content">
    <div class="image"></div>
    <div class="texte" margin-top="5px"></div>
  </div>
  <template>
    <div>notext : 1 {{Cache le texte}}</div>
    <div>noimage : 1 {{Cache l'image}}</div>
  </template>
  <script>
    {
      jeedom.cmd.addUpdateFunction('#id#', function(_options) {
        let cmd=document.querySelector('.cmd[data-cmd_uid="#uid#"]')
        if (is_object(cmd)) {
          let texte = [];
          texte[1] = "#texte_1#";
          texte[2] = "#texte_2#";
          texte[3] = "#texte_3#";
          texte[4] = "#texte_4#";
          texte[5] = "#texte_5#";
          texte[6] = "#texte_6#";
          cmd.setAttribute(
            "title",
            "{{Date de valeur}} : " +
              _options.valueDate +
              "<br/>{{Date de collecte}} : " +
              _options.collectDate,
          );
          if (_options.display_value > 0 && _options.display_value < 7) {
            if ("#noimage#" == "1") {
              cmd.querySelector(".image").innerHTML="";
            } else {
              let img = document.createElement("IMG")
              img.src= '/plugins/EaseeCharger/desktop/img/vehicle/compact_' + _options.display_value + '.png'
              img.style.width="120px"
              cmd.querySelector(".image").innerHTML="";
              cmd.querySelector(".image").appendChild(img)
            }
            if ("#notext#" == "1") {
              cmd.querySelector(".texte").innerHTML=""
            } else {
              cmd.querySelector(".texte").innerHTML="<b>" + texte[_options.display_value] + "</b>"
            }
          }
        }
      });
      jeedom.cmd.refreshValue([{
        cmd_id: '#id#',
        display_value: "#state#",
        valueDate: "#valueDate#",
        collectDate: "#collectDate#",
        alertLevel: "#alertLevel#",
      }]);
    }
  </script>
</div>
