<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-template="cable_lock" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqlogic_id="#eqLogicId#">
  <div class="title #hide_name#">
    <div class="cmdName">#valueName#</div>
  </div>
  <div class="content-sm">
    <span class="iconCmd" style="padding:10px; border-radius:50px; width:5rem; display:inline-block"></span>
  </div>
  <div class="value">
    <span class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
  </div>
  <template>
    <div>time : date ({{Affiche l'info time sous forme de date}})</div>
  </template>
  <script>

    permanentlyLockedColor = "";

    jeedom.cmd.update['#id#'] =function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')
      if ('#_time_widget_#' != '1') {
        cmd.find('.timeCmd').parent().remove()
      }

      if (String(_options.display_value).length == 0) {
        cmd.find('iconCmd').empty().append((jeedom.cmd.normalizeName('#name#') == 'off') ? "#_icon_off_#" : "#_icon_on_#")
      } else {
        if (_options.display_value & 1) {
          cmd.find('.iconCmd').empty().append("#_icon_on_#")
	} else {
            cmd.find('.iconCmd').empty().append("#_icon_off_#")
	}
      }
      if (_options.display_value & 2) {
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
          cmd.hide()
        } else {
          cmd.show().find('.iconCmd').css('background-color',permanentlyLockedColor);
      }
      } else {
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
          cmd.hide()
        } else {
          cmd.show().find('.iconCmd').css('background-color','');
        }
      }
    }

    $('.cmd[data-cmd_uid=#uid#] .iconCmd').on('click', function() {
      jeedom.cmd.execute({id: '#id#'})
    })

    $(function() {
      if ($('body').attr('data-coloredicons') == "1") {
        permanentlyLockedColor='blue'
      } else {
        if ($('body').attr('data-theme').endsWith('Light')) {
          permanentlyLockedColor="lightgrey"
        } else {
          permanentlyLockedColor="grey"
        }
      }
      jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#'})
    })
  </script>
</div>
