<!--
vim: tabstop=2 autoindent expandtab
-->
<div
  class="cmd cmd-widget arcgauge phase #phaseId# #generic_type# #history#"
  data-type="info"
  data-subtype="numeric"
  data-template="phase"
  data-cmd_id="#id#"
  data-cmd_uid="#uid#"
  data-version="#version#"
  data-eqLogic_id="#eqLogic_id#"
  data-created_for="#generic_type#"
  title="{{Date de valeur}} : #valueDate#<br/>{{Date de collecte}} : #collectDate#"
>
  <div class="title #hide_name#">
    <span class="cmdName">#widgetTitle#</span>
  </div>
  <div class="content">
    <div class="gauge cursor #history#" data-cmd_id="#id#"></div>
    <div class="gaugeValue" data-cmd_id="#id#"></div>
  </div>
  <div class="state current" style="position: relative; top: -13px">
    <strong class="value"></strong> <strong class="unit"></strong>
  </div>
  <div class="state voltage" style="position: relative; top: -13px">
    <strong class="value"></strong> <strong class="unit"></strong>
  </div>
  <div class="cmdStats #hide_history#">
    <span title="{{Minimum}}" class="tooltips">#minHistoryValue#</span>|<span
      title="{{Moyenne}}"
      class="tooltips"
      >#averageHistoryValue#</span
    >|<span title="{{Maximum}}" class="tooltips">#maxHistoryValue#</span>
    <i class="#tendance#"></i>
  </div>
  <template>
    <div>color : rgb(20,20,20) ({{couleur de l'indicateur de valeur}})</div>
  </template>
  <script>
    {
      jeedom.cmd.addUpdateFunction("#id#", function (_options) {
        let widget = document.querySelector('.cmd.#phaseId#.CURRENT[data-eqLogic_id="#eqLogic_id#"]')
        if (is_object(widget)) {
          if ("#generic_type#" == "CURRENT") {
            let minValue = "#minValue#" == "" ? 0 : parseInt("#minValue#");
            let maxValue = "#maxValue#" == "" ? 100 : parseInt("#maxValue#");
            let angle = 0
            if (_options.display_value >= maxValue) {
              maxValue = _options.display_value;
              angle = 0;
            } else if (_options.display_value <= minValue) {
              minValue = _options.display_value;
              angle = -180;
            } else {
              angle =
                ((_options.display_value - minValue) * 180) /
                  (maxValue - minValue) -
                180;
            }
            widget.querySelector(".gaugeValue").style.transform = 'scale(0.94) rotate(' + angle + 'deg)'
            widget.querySelector(".state.current .value").innerHTML = _options.display_value
            widget.querySelector(".state.current .unit").innerHTML = _options.unit
          }
          if ("#generic_type#" == "VOLTAGE") {
            widget.querySelector(".state.voltage .value").innerHTML = _options.display_value
            widget.querySelector(".state.voltage .unit").innerHTML = _options.unit
          }
        }
      });

      if ("#generic_type#" == "VOLTAGE") {
        document.querySelector('.cmd[data-cmd_uid="#uid#"]').unseen()
      }

      function Initialize#uid# () {
        if (document.querySelector('.cmd.#phaseId#.CURRENT[data-eqLogic_id="#eqLogic_id#"]') == null) {
          setTimeout( Initialize#uid#, 100)
        } else {
          if (domUtils.issetWidgetOptParam("#color#", "color")) {
            document.querySelector(".cmd[data-cmd_uid=#uid#] .gaugeValue").style.borderColor = "#color#"
          }
          jeedom.cmd.refreshValue([
            {
              cmd_id: "#id#",
              value: "#value#",
              display_value: "#state#",
              valueDate: "#valueDate#",
              collectDate: "#collectDate#",
              unit: "#unite#"
            },
          ]);
        }
      }
      Initialize#uid# ()


    }
  </script>
</div>
