
div.eqLogicDisplayCard[data-eqLogic_type=EaseeCharger_xaccount],
div.eqLogicDisplayCard[data-eqLogic_type=EaseeCharger_charger] {
	height: 190px !important;
}

div.eqLogicDisplayCard[data-eqLogic_type=EaseeCharger_xaccount] .labelModelHuman,
div.eqLogicDisplayCard[data-eqLogic_type=EaseeCharger_charger] .labelModelHuman {
	position: relative;
	top: -20px !important;
	background-color: red;
}

